.header {
    width: 100%;
    height: 64px;
    background: #f5f6fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 100;
    // box-sizing: border-box;
}

.logo {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    border-radius: 8px;
    overflow: hidden;
}

.logoImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.userName {
    font-weight: 500;
    color: #333;
    max-width: 120px; // אפשר לשנות לפי הצורך
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr; // אם יש שמות באנגלית
    text-align: left;
}

.userIcon {
    // width: 90%;
    height: 90%;
    aspect-ratio: 1/1; // תמיד ריבוע (יהפוך לעיגול עם border-radius)
    background: rgb(80 187 130);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
