.exit-management-btn {
    // position: absolute;
    // top: 16px;
    // left: 24px;
    // z-index: 200;
    // background: #fff;
    background: rgb(80 187 130);

    // color: rgb(80 187 130);
    color: #fff;
    // border: 3px solid rgb(80 187 130);
    border: 3px solid #fff;
    border-radius: 24px;
    padding: 8px 18px;
    font-weight: bold;
    cursor: pointer;
    max-width: 125px;
    margin: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    transition: background 0.2s, color 0.2s;
}
.exit-management-btn:hover {
    // background: rgb(80 187 130);
    background: #fff;
    // color: #fff;
    color: rgb(80 187 130);
    border: 3px solid rgb(80 187 130);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
